body, html {
  height: 100%;
  background-image: url("./img/bground.JPG");
}
/* grid layout for entire page */
.grid {
  display: grid;
  grid-template-columns: 350px auto 350px;
  grid-template-rows: 80px auto auto auto;
  grid-gap: 1em;
}

header {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 80px;
}

article {
  grid-row: 2;
  grid-column: 1/3;
  position: absolute;
  left: 25px;
  top: 100px;
}
.sidebar-right {
  grid-row: 2;
  grid-column: 3/4;
  /*background-image: url("./img/carb.png");*/
  border-radius: 3px;
  position: absolute;
  left: 1150px;
  margin-left: 10px;
  top: 80px;
}

footer {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;

}

below {
  grid-row: 4;
  grid-column: 1/4;
  position:relative;
  top: 600px;
}

/* grid layout navbar */
.navbar-grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: repeat(1, 60px);
  background-color: rgb(91, 94, 99, 0.7);

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
  height: 100px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 12px;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar-portal {
  grid-row: 1;
  grid-column: 1/2;
}

.navbar-login {
  grid-row: 1;
  grid-column: 2/3;
  position: absolute;
  left: 200px;
  margin-left: 20px;
}

.navbar-logout {
  grid-row: 1;
  grid-column: 3/4;
  position: absolute;
  left: 500px;
  margin-left: 20px;
}

/* style navbar */
#link {
  font-size: 35px;
  font-family: 'Porsche';
  text-align: center;
  padding-top: 18px;
}

#log {
  font-size: 35px;
  font-family: 'Porsche';
  text-align: center;

}
/* style titles */
#sub {
  font-size: 30px;
  font-family: 'raleway';
  text-align: center;
  padding-top: 25px;
  margin-bottom: 15px;
}

.stockgraph {
  display: grid;
  left: 0;
  width: 100%; /* Full width */
}

.right-widget {
  left: -40%;
  background-image: url("./img/carb.jpg");
}

.left-widget {
  background-image: url("./img/carb.jpg");
}

.tetris {
  position: relative;
  top: 80px;
}

.login {
  display:block;
  position: absolute;
  z-index: 1;

}

.out {
  display: block;

}

/*fonts */
@font-face {
  font-family: Porsche;
  src: url("fonts/911porschav33d.ttf");
}

@font-face {
  font-family: raleway;
  src: url("fonts/Raleway-ExtraLight.ttf");
}